<footer class="footer">

    <div class="container">

        <div class="brand">

            <h2>QUAVAR</h2>

            <p>
                Building Better Environments.
            </p>

        </div>

        <div class="copyright">

            © 2026 QUAVAR Facility Services

        </div>

    </div>

</footer>

<style>

.footer{

    background:var(--navy);

    color:white;

    padding:80px 24px;

}

.container{

    max-width:1100px;

    margin:auto;

}

.brand h2{

    margin-bottom:12px;

    font-size:32px;

}

.brand p{

    opacity:.8;

    margin-bottom:48px;

}

.copyright{

    opacity:.6;

    font-size:14px;

}

</style>